server {
    server_name elangulizer.co.uk

    listen 80;
    listen [::]:80;

    return 301 https://$server_name$request_uri;

    root /usr/share/nginx/html;

    index  index.html index.htm;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  root /usr/share/nginx/html;

  index  index.html index.htm;

  ssl_certificate ./gd_bundle-g2-g1.pem;
  ssl_certificate_key ./elangulizer.co.uk.pem;
}