server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name localhost

    listen 80;
    listen [::]:80;

    return 301 https://$server_name$request_uri;

    root /usr/share/nginx/html;

    index  index.html index.htm;

    location /api/ {
        proxy_pass http://$server_name:9001;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
      }

    location / {
      try_files $uri $uri/ @rewrites;
    }

    location @rewrites {
      rewrite ^(.+)$ /index.html last;
    }

    location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
      # Some basic cache-control for static files to be sent to the browser
      expires max;
      add_header Pragma public;
      add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }
}