server {
    server_name elangulizer.co.uk

    listen 80;
    listen [::]:80;

    return 301 https://$server_name$request_uri;

    root /usr/share/nginx/html;

    index  index.html index.htm;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  root /usr/share/nginx/html;

  index  index.html index.htm;

  ssl_certificate /certs/elangulizer.co.uk.csr;
  ssl_certificate_key /certs/elangulizer.co.uk.key;
}